<!--Created by PurpleSynapz.-->



{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Credentials - PL{% endblock %}

 {% block stylesheet %}
 <link rel="stylesheet" type="text/css" href="{% static 'credentials/css/jquery.dataTables.min.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'credentials/css/credentials.css' %}">
 {% endblock %}

{% block content %}
<div class="wrapper">
{% include 'header.html' %}
{% include 'aside.html' %}

     <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
          <b>Credentials</b>
      </h1>
      <div class="row">
            <div class="col-md-8 col-xs-8 col-lg-8 col-sm-8">
                  <p>Shows the list of avaiable machines from Purple Range Lab, with their credentials</p>
            </div>
          <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
              <a type="btn" class="btn back" id="back" href="{% url 'dashboard' %}"><img src="{% static 'images/arrow_left.svg' %}" width="12" height="12" alt="back"> &nbsp;&nbsp;<span>Back</span></a>
          </div>
      </div>

    </section>

      <br/>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="table-responsive scroll_bar">

                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-11">
                     <span class="list_of_users">List of machines and its credentials</span>
                     <table id="credentials_table" class="" style="width:100%;display: none;">
                    <thead>
                        <tr>
                            <th>IP Address</th>
                            <th>Machine Name</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Connect Via</th>
			                <th>Description</th>
                        </tr>
                    </thead>
                     <tbody>

                     </tbody>

                </table>
                </div>


            </div>
        </div>

         {% if request.user.is_superuser  %}
        <span class="pdf_span">Download the list in<a class="pdf" href='{% url "download_credentials_pdf" %}'> <b>PDF</b></a></span>
        {% endif %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% include 'footer.html' %}

</div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'credentials/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'credentials/js/credentials.js' %}"></script>
{% endblock %}