<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
    {% load static %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Console</title> 
    <!-- Reference CSS file -->
    <link rel="stylesheet" href="{% static 'web_mks/css/wmks-all.css' %}">
</head> 
<body>

<!-- Reference JavaScript files -->
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script> -->

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'web_mks/wmks.min.js' %}"></script>

<!-- Page bar -->
<div id="bar">
    <!-- <div id="vmName">
        <span id="vmTitle">vrops-master1</span>
    </div> -->
    <div id="buttonBar">
        <div class="buttonC">
            <!-- <button id="keyboard" data-toggle="false" data-alt="Stop Enforcing US Keyboard Layout">
            Enforce US Keyboard Layout
            </button> -->
            <button id="cad">
                Send Ctrl+Alt+Delete
            </button>
            <!-- <button id="cntrl_c">
                Send Ctrl+C
            </button> -->
            <button id="fullscreen">
                View Fullscreen
            </button>
        </div>
    </div>
</div>

<div id="wmksContainer" style="position:absolute;width:100%;height:100%"></div>

<script>
$(document).ready(function() {
    console.log("here: open-vm_console")
    var options = {
      rescale: false,
      changeResolution: true,
    //   position: WMKS.CONST.Position.CENTER,
      useVNCHandshake: false,
      useNativePixels: true,
      fitToParent: true,
      fitGuest: false

    };

    var url = "{{ url }}" ;
    var ip_address = "{{ ip_address }}" ;
    var ticket_id = "{{ ticket_id }}" ;
    console.log("here: url: ", url)

    var cad = $("#cad");
    var container = $("#container");
    var fullscreen = $("#fullscreen");
    // var cntrl_c = $("#cntrl_c");
    // var keyboard = $("#keyboard");

    var wmks = WMKS.createWMKS("wmksContainer",options).register(WMKS.CONST.Events.CONNECTION_STATE_CHANGE, function(event,data){

            console.log("here: event,data: ", event,data)

            if(data.state == WMKS.CONST.ConnectionState.CONNECTED){
                console.log("connection state change : connected");
            }
            else if( data.state == "disconnected"){
                console.error("Connection failed! It might be due to the SSL certificate not accepted by your browser.");
                console.error("Please go to the URL and accept the certificate.");

                temp_url = "https://"+ip_address

                // var meg = "Connection failed! It might be due to the SSL certificate not accepted by your browser. Please go to the URL("+temp_url+") and accept the certificate."
                // // alert(meg)

                var message = "Connection failed! It might be due to the SSL certificate not accepted by your browser.\n";
                message += "Please go to the URL ("+temp_url+") and accept the certificate.";

                // Display the alert box with the message
                var result = window.confirm(message);

                // If the user confirms, redirect to the specified URL
                if (result) {
                    // window.location.href = "https://172.16.100.13";
                    window.open(temp_url, "_blank");
                }

            }
        });

    // wmks.register(WMKS.CONST.Events.COPY, function(evt, data) {
    //      // here is the remote clipboard data:
    //     console.log("here copying from remote", evt, data);
    // });

    cad.on("click", function() {
        console.log("here: sendCAD")
        wmks.sendCAD();
    });

    if (wmks.canFullScreen()) {
        console.log("here: canFullScreen");
        fullscreen.on("click", function (evt) {
            console.log("here: enterFullScreen")
            wmks.enterFullScreen();
        });
    } else {
        fullscreen.hide();
    }

    // cntrl_c.on("click", function() {
    //     console.log("here: sendCtrlC")
    //     // wmks.sendKeyEvent(17, true);  // Ctrl key down
    //     // wmks.sendKeyEvent(67, true);  // C key down
    //     // wmks.sendKeyEvent(67, false); // C key up
    //     // wmks.sendKeyEvent(17, false); // Ctrl key up
    //     wmks.sendKeyCodes([17,67]);
    // });

    console.log("here: wmks: ", wmks)
    // wmks.connect("wss://172.16.100.13:443/ticket/223da01b15cb3561"); 
    wmks.connect(url); 
});


// // To implement remote copy, add this Javascript code as a script to existing HTML console code:
// $(function() {

//     var options = {
//       rescale: false,
//       changeResolution: true,
//     //   position: WMKS.CONST.Position.CENTER,
//       useVNCHandshake: false,
//       useNativePixels: true,
//       fitToParent: true,
//       fitGuest: false

//     };
    
//     var url = "{{ url }}" ;
//     var ip_address = "{{ ip_address }}" ;
//     var ticket_id = "{{ ticket_id }}" ;

//       var container = $("#wmksContainer");
//       var wmks = WMKS.createWMKS("wmksContainer", options);
//       wmks.register(WMKS.CONST.Events.CONNECTION_STATE_CHANGE, function(evt, data) {
//          switch (data.state) {
//             case WMKS.CONST.ConnectionState.CONNECTING:
//                console.log("The console is connecting");
//                break;
//             case WMKS.CONST.ConnectionState.CONNECTED:
//                console.log("The console has been connected");
//                // need to send grab first, bind on the canvas element
//                $("#mainCanvas").focus(function() {
//                   wmks.grab();
//                });
//                $("#mainCanvas").blur(function() {
//                   wmks.ungrab();
//                });
//                break;
//             case WMKS.CONST.ConnectionState.DISCONNECTED:
//                console.log("The console has been disconnected");
//                break;
//          }
//       });
//       wmks.register(WMKS.CONST.Events.ERROR, function(evt, data) {
//          console.log("Error: " + data.errorType);
//       });
//       wmks.register(WMKS.CONST.Events.COPY, function(evt, data) {
//          // here is the remote clipboard data:
//          console.log(evt, data);
//       });

//       console.log("here2: wmks: ", wmks)
//       // wmks.connect("wss://testurl");
//       wmks.connect(url); 
//    });

</script> 
<style type="text/css">
    .buttonC{
        text-align: end;
        padding-bottom: 7px;

        /*button{
            font: normal normal normal 14px "Museo Sans 500" !important;
            border-radius: 4px !important;
            background: #D3118E !important;
            padding: 5px 10px !important;
            color: #fff !important;
            margin-left: 10px !important;
            border: antiquewhite;
        }*/
    }
</style>
</body>
</html>
